.profile-photo {
  display: flex;
  justify-content: center;
}

.profile-photo img {
  max-width: 200px;
  max-height: 300px;
  flex: 1 1 33.333%;
  border-radius: 2rem;
}

.about-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-me h1 {
  font-size: 2em;
  padding-top: 2rem;
}

.easter-egg {
  display: flex;
  justify-content: center;
  margin: -2rem;
}

.easter-egg p {
  font-size: xx-small;
}

.about-me h2 {
  padding-bottom: 2rem;
}

.about-me-paragraph {
  text-align: center;
  white-space: pre-line;
  text-wrap: normal;
  margin: 0 auto;
  padding: 1rem;
}
