@media (max-width: 1000px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    gap: 1rem;
  }

  @media (max-width: 768px) {
    .profile-photo {
      flex: 1 1 calc(50% - 1rem);
    }
  }

  @media (max-width: 480px) {
    .profile-photo {
      max-height: 75%;
      flex: 1 1 100%;
    }
  }

  .contact-copy {
    max-width: 90%;
  }
}
