:root {
  --color-light: #d9dad7;
  --color-accent: #c24d2c;
  --color-secondary: #3e4a61;
  --color-dark: #1a2639;
  /*  */
  /* --color-light: #cacbd5;
  --color-accent: #d55e2d;
  --color-secondary: #666f89;
  --color-dark: #3d4252; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen,
    Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER/NAV */

header {
  background-color: var(--color-dark);
  font-size: xx-large;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;
  z-index: 1000;
  border-bottom: #c24d2c 2px solid;
}

header.shrink {
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-size: 0.9em;
}

.header-rightside {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.header-rightside li {
  display: flex;
}

/* .header-leftside {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.header-leftside li {
  display: flex;
} */

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
  gap: 0.8rem;
  /* padding-left: 0.75rem; */
  /* padding-right: 1rem; */
}

.about-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-me h1 {
  font-size: 2em;
  padding-top: 2rem;
}

.about-me h2 {
  padding-bottom: 2rem;
}

.about-me-paragraph {
  max-width: 90%;
  text-align: center;
  white-space: pre-line;
  text-wrap: normal;
  margin: 0 auto;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--color-light);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

nav ul li a:hover {
  color: var(--color-accent);
}
/* END OF HEADER */

/* ---------------------------- */

/* HOME */
.home {
  padding-top: 10rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 80rem;
  margin: auto;
}

.profile-photo {
  display: flex;
  justify-content: center;
}

.profile-photo img {
  max-width: 25%;
  max-height: 25%;
  flex: 1 1 33.333%;
  border-radius: 2rem;
}

.intro-images img {
  max-width: calc(33.333% - 1rem);
  height: auto;
  flex: 1 1 calc(33.333% - 1rem);
}

@media (max-width: 768px) {
  .intro-images img {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .intro-images img {
    flex: 1 1 100%;
  }
}

main {
  flex-grow: 1;
  padding: 2rem;
}

/* GENERAL */
h1,
h2 {
  color: var(--color-accent);
  display: flex;
  justify-content: center;
}

p {
  line-height: 1.5;
  font-size: x-large;
}

.easter-egg {
  display: flex;
  justify-content: center;
  margin: -2rem;
}

.easter-egg p {
  font-size: xx-small;
}

section {
  scroll-margin-top: 5rem;
  padding: 1rem;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.contact-block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: normal;
}

.contact-copy {
  max-width: 60%;
  text-align: center;
}

.calendly-inline-widget-container {
  max-height: 1000px;
}

/* .calendly-button {
  background-color: var(--color-secondary);
  color: var(--color-light);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
} */
.project-card {
  display: flex;
  background-color: var(--color-secondary);
  color: var(--color-light);
  padding: 3rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  border: #c24d2c 2px solid;
  justify-content: space-between;
  flex-direction: column;
}

.project-card h3 {
  font-size: xx-large;
}

.project-card p {
  line-height: 1.5;
  white-space: pre-line;
}

.project-github-link {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  text-decoration: none;
}

.project-card .project-info a:hover {
  background-color: var(--color-accent);
  color: var(--color-light);
}

.project-image-link {
  display: flex;
  justify-content: center;
}

.project-image-link img {
  max-height: 50%;
  max-width: 80%;
  border-radius: 2rem;
  margin-top: 2rem;
  border: #d9dad7 0.75px solid;
}

.project-image-link img:hover {
  transform: scale(1.025);
  transition: all 0.3s ease;
  border: #c24d2c 2px solid;
}

.contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contact-email {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-dark);
  text-decoration: none;
}

.contact-email span {
  font-size: large;
  text-decoration: none;
}

.contact-email:hover {
  color: var(--color-accent);
}

.divider {
  border-top: 2px solid var(--color-accent);
  margin: 2rem 0;
}

button {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-accent);
  color: var(--color-light);
}

.back-to-top-button {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  background-color: var(--color-light);
  color: var(--color-secondary);
  border: solid 1px var(--color-secondary);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
  margin-top: auto;
}

footer p {
  opacity: 0.75;
  font-size: medium;
}

.hidden {
  display: none;
}

.vertical-divider {
  border-left: 2px solid var(--color-light);
  height: 100%;
}

@media (max-width: 1000px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    gap: 1rem;
  }

  .contact-copy {
    max-width: 90%;
  }
}
